<h1 class="text-white">
    Session Video Call
</h1>

<h4>My feed</h4>

<div id="me">

</div>

<h4>Remote feeds</h4>

<div id="remote-container">

</div>

<h4>Canvas feeds</h4>

<div id="canvas-container">

</div>

<script src="http://cdn.agora.io/sdk/web/AgoraRTCSDK-2.5.0.js"></script>
